@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700); // Font from Google... 
@import "globals";
@import "type";
@import "grid";



/*Type*/


/*Colors*/

/*

$nuetral: rgb(255,255,249);
$primary-highlight: rgb(143, 36, 35);
$second-highlight: rgb(227, 179, 114);
$base-text: rgb(113,108,105);;
$dark-text: rgb(0,0,0);

*/

body{
  background: rgb(255,255,249);
}

a{
  color:rgb(143, 36, 35);
}

html, body, p, div{
  color: rgb(113,108,105);
}

/*Grid*/''